<center>
  <h1>Welcome to my Page!</h1>

  <table border="2">
    <td>
      <a href="#" {{action "increment"}}>Enter</a>
    </td>
    <td>
      {{#if (gt count 5)}}
        <a href="#" {{action "purchase"}}>Sign My Guestbook</a>
      {{/if}}
    </td>
  </table>

  Visits: {{count}}
  <br>
  Guestbook Entries: {{generators}}
</center>

<span class="footer"></span>
